@charset "UTF-8";
/* CSS Document */
@font-face
{
	font-family: 'Fascinate Inline', cursive;
	src: url(https://fonts.googleapis.com/css?family=Fascinate+Inline);
}
.navbar-brand
{
	font-family: 'Fascinate Inline', cursive;
	src: url(https://fonts.googleapis.com/css?family=Fascinate+Inline);
	color: #849BA1;
}
.navbar-inverse
{
	font-family: 'Fascinate Inline', cursive;
	color: #849BA1;
}
.container-fluid
{
	background-color: #111721;
}
body
{
	font-family: 'Fascinate Inline', cursive;
	background-color: #6d8791;
}
body, html
{
	height: 100%;
}
.SplashImage
{
	background-image: url(Img/BandPhotos/BandPicOne.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax
{ 
	height: 100%;
	background-attachment: fixed;
	background-position: 100% auto;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_image_one
{
	background-image: url(Img/BandPhotos/P1010275.jpg);
	background-size: 95%;
	background-position: center;
	text-shadow: 1px 1px #15201F;
	font-size: 36px;
	color: #89B5C9;
	text-align: center;
}
.parallax_image_two
{
	background-image: url(Img/BandPhotos/IMG_9081.jpg);
	background-size: 95%;
	background-position: center;
	text-shadow: 1px 1px #15201F;
	font-size: 36px;
	color: #89B5C9;
	text-align: center;
}
.parallax_image_three
{
	background-image: url(Img/BandPhotos/P1010271%20-%20Version%202.jpg);
	background-size: 95%;
	background-position: center;
	text-shadow: 1px 1px #15201F;
	font-size: 36px;
	color: #89B5C9;
	text-align: center;
}
.Content
{
	text-align: center;
	font-size:16px;
	color: #1A1118;
	text-shadow: 1px 1px #A688A2;
	background-color: #ff9999;
	box-shadow: 2px 20px 30px #0e131c;
	width: 95%;
	margin: auto;
}
.HeadingCenter
{
	background-color: #ff6666;
	box-shadow: 2px 20px 30px #0e131c;
	width: 95%;
	margin: auto;
}
.center
{
	text-align: center;
}
.center p
{
	font-family: 'Muli', sans-serif;
}
.jumbotron {
	margin:auto;
	font-family: 'Fascinate Inline', cursive;
	background-image: url("BandPicOne.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-color: #16181c;
}
.jumbotron h1 {
	margin:auto;
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
}
.jumbotron p {
	margin:auto;
	text-align: center;
	font-family: 'Fascinate Inline', cursive;
}
.btn-lg
{
	background-image: url(Img/Buttons/lips.png);
	background-size: 100% 210%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #16181c;
	border: none;
	color: #D8BACD;
	text-shadow: -2px 1px #B70267;
}
.fanArt
{
	src: url(Img/Fan%20Art/thoughts.png);
	margin: auto;
	border: 2px solid #293032;
	padding: 5px 5px 5px 5px;
	background-color: #f2f1e3;
}
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background-color: #111721;
	background: #111721;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #849BA1;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #849BA1;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #111721;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #849BA1;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

